@use "global" as *;

.loader {
    position: fixed;
    background: #FFF;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    top: 0;
    left: 0;
}

.loader__content {
display: flex;
gap: rem(10);
align-items: center;
@include mq{
        gap: rem(20);
    }
}

.loader__logo {
    opacity: 0;
    aspect-ratio: 1;
    width: rem(35);
    transform-origin: left bottom;
    @include mq{
        width: rem(50);
    }
}

.loader__text {
    font-size: rem(18);
    color: #000;
    @include mq{
        font-size: rem(25);
    }
}

.loader__text span{
    opacity: 0;
    font-size: rem(18);
    color: #000;
    display: inline-block;
    @include mq{
        font-size: rem(25);
    }
}




//フェードイン
.js-fadeIn{
    line-height: 1;
    overflow: hidden;
    & span{
        display: inline-block;
    }
}

//1文字ずつ
.js-fadeIns2{
    & span{
        display: inline-block;
    }
}


//img
.js-img{
    overflow: hidden;
    display: block;
    clip-path: inset(0% 0% 0% 0%);
    z-index: 1;
    position: relative;
}


//mask
@keyframes maskImg{
    0%{
    mask-position: 200% 0%;
    }
    100%{
    mask-position: 0% 0%;

    }
}
.js-maskImg{
    mask-image: linear-gradient(90deg,black 0% 50% , transparent 100% );
    mask-size: 200% 100%;
    mask-repeat: no-repeat;
    mask-position: 200% 0%;
}
.js-maskImg.is-open{
animation:  maskImg 1s linear forwards;
}